<!DOCTYPE html>
<html
        lang="ko"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>
<!-- 사용자 CSS -->
<th:block layout:fragment="css">
</th:block>
<!-- 사용자 Script -->
<th:block layout:fragment="script">
</th:block>
<!-- 사용자 Content  -->
<th:block layout:fragment="content">

    <form>
        <label for="search-type" hidden>검색유형</label>
        <select id="search-type" name="search-type">
            <option>제목</option>
            <option>본문</option>
            <option>아이디</option>
            <option>닉네임</option>
            <option>해시테그</option>
        </select>

        <label for="search-value" hidden>검색단어</label>
        <input id="search-value" type="search" placeholder="검색어를 입력하세요" name="search-value">

        <button type="submit">검색</button>

    </form>

    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>해시테그</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>첫글</td>
                <td>java</td>
                <td>diki</td>
                <td>2024-01-01</td>
            </tr>
        </tbody>
    </table>

    <nav>
        <table>
            <tr>
                <td>previous</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>next</td>
            </tr>
        </table>
    </nav>

</th:block>
<!-- 사용자 Content  -->
</html>
