<!DOCTYPE html>
<html
        lang="ko"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
>
<!-- 사용자 CSS -->
<th:block layout:fragment="css">
</th:block>
<!-- 사용자 Script -->
<th:block layout:fragment="script">
</th:block>
<!-- 사용자 Content  -->
<th:block layout:fragment="content">

    <div class="container">

        <h1> Welcome! 사이트 메인 페이지</h1>

    </div>
</th:block>
<!-- 사용자 Content  -->
</html>
